* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  margin: 0 auto;
}
.conteiner {
  background: silver;
}
.wrapper {
  width: 1200px;
  padding: 0 15px;
  text-align: center;
}
.title {
  padding-top: 104px;
  margin-bottom: 54px;
}
.title h2 {
  color: black;
  font-size: 36px;
  font-family: Raleway;
  font-weight: 400;
  text-transform: uppercase;
  word-wrap: break-word;
}
.separator {
  display: block;
  width: 170px;
  height: 100%;
  border: 1px #ec7979 solid;
  margin: 0 auto;
}
.subtitle {
  margin-top: 40px;
  padding-bottom: 79px;
}
.subtitle h5 {
  color: #86878b;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 400;
  word-wrap: break-word;
}
.price {
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;
}
.price-list {
  width: 370px;
  height: 510px;
}
.price-list-active {
  margin-left: 30px;
  margin-right: 30px;
}
.price-list__item {
  height: 50px;
  color: #86878b;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 400;
  text-transform: capitalize;
  word-wrap: break-word;
  border-bottom: 2px solid rgb(241, 241, 241);
  background: white;
  line-height: 50px;
}
.price-list__item-title {
  height: 60px;
  color: white;
  font-size: 24px;
  font-family: Open Sans;
  font-weight: 700;
  text-transform: capitalize;
  word-wrap: break-word;
  background: black;
  line-height: 60px;
}
.price-list__item-price {
  height: 100px;
  color: white;
  font-size: 36px;
  font-family: Raleway;
  font-weight: 700;
  word-wrap: break-word;
  background: black;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  line-height: 97px;
}
.price-list__item-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  font-family: Raleway;
  font-weight: 400;
  word-wrap: break-word;
  background: black;
  line-height: 50px;
  padding-left: 10px;
}
